.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    color: white;
    font-weight: 300;

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
    font-weight: 300;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
    font-weight: 300;
}

}

.wrapper {
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    min-height: 100vh;
    padding-top: 80px;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 0;
}
form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;

}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
}
form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: @prim;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: rgb(245, 247, 249);
}
.scan-result {
    text-align: center;
}
.forget-link {
    font-size: 14px;
    text-align: center;
}
.forget-link a{
    color: #fff;
}
.account-info {
    display: block;
    padding: 0 15px;
    text-align: center;
}